/* ====== FUENTES Y BASE ====== */
.root {
    -fx-font-family: "Segoe UI", "Roboto", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #f5f5f5;
}

/* ====== CAMPOS DE TEXTO ====== */
.text-field, .password-field {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 6 4;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #9fe37b;
    -fx-prompt-text-fill: #9fe37b;
}

/* ====== JFXBUTTON ====== */
.jfx-button-green {
    -fx-background-color: #90b576;/*transparent;*/
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
    -fx-background-radius: 6;
    -fx-padding: 8 18;
    -fx-cursor: hand;
    -fx-effect: none;
    -fx-transition: all 0.2s ease-in-out;
}

/* Hover: elevación y fondo suave */
.jfx-button-green:hover {
    -fx-background-color: #b1db93;
    -fx-effect: dropshadow(gaussian, rgba(63,81,181,0.25), 8, 0.3, 0, 2);
}

/* Click: animación suave tipo ripple */
.jfx-button-green:pressed {
    -fx-background-color: rgba(63,81,181,0.2);
    -fx-translate-y: 1;
}


/* ====== EFECTO DESACTIVADO ====== */
.jfx-button:disabled, .jfx-button-raised:disabled {
    -fx-opacity: 0.6;
    -fx-cursor: default;
}

/* ====== BOTON TRANSPARENTE ====== */
.jfx-button-transparent {
    -fx-background-color: transparent;
    -fx-text-fill:  #ffffff;
    -fx-font-weight: 600;
    -fx-background-radius: 6;
    -fx-padding: 8 18;
    -fx-cursor: hand;
    -fx-effect: none;
    -fx-transition: all 0.2s ease-in-out;
}

/* Hover: elevación y fondo suave */
.jfx-button-transparent :hover {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(63,81,181,0.25), 8, 0.3, 0, 2);
}

/* Click: animación suave tipo ripple */
.jfx-button-transparent :pressed {
    -fx-background-color: rgba(63,81,181,0.2);
    -fx-translate-y: 1;
}

/* ====== ALERT DISEÑO ====== */

/* Fondo general del diálogo */
.jfoenix-alert,
.jfoenix-alert > *.header-panel,
.jfoenix-alert > *.content,
.jfoenix-alert > *.button-bar {
    -fx-background-color:  #13300b;
}

/* Sombras suaves tipo material */
.jfoenix-alert {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 4);
    -fx-padding: 10px;
}

/* Título (header) */
.jfoenix-alert > *.header-panel .label {
    -fx-text-fill:  #b1db93;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Texto del contenido */
.jfoenix-alert .content.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

/* Botones */
.jfoenix-alert .button {
    -fx-background-color: transparent;
    -fx-text-fill:  #71a164;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 6px 12px;
}

/* Efecto hover */
.jfoenix-alert .button:hover {
    -fx-background-color: #b1db93;
}

/* Efecto de enfoque (click presionado) */
.jfoenix-alert .button:pressed {
    -fx-background-color: rgba(63,81,181,0.2);
}

