/* ====== FUENTES Y BASE ====== */
.root {
    -fx-font-family: "Segoe UI", "Roboto", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #f5f5f5;
}

/* ====== CAMPOS DE TEXTO ====== */
.text-field, .password-field {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 6 4;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #9fe37b;
    -fx-prompt-text-fill: #9fe37b;
}

/* ====== JFXBUTTON ====== */
.jfx-button-green {
    -fx-background-color: #90b576;/*transparent;*/
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
    -fx-background-radius: 6;
    -fx-padding: 8 18;
    -fx-cursor: hand;
    -fx-effect: none;
    -fx-transition: all 0.2s ease-in-out;
}

/* Hover: elevaci贸n y fondo suave */
.jfx-button-green:hover {
    -fx-background-color: #b1db93;
    -fx-effect: dropshadow(gaussian, rgba(63,81,181,0.25), 8, 0.3, 0, 2);
}

/* Click: animaci贸n suave tipo ripple */
.jfx-button-green:pressed {
    -fx-background-color: rgba(63,81,181,0.2);
    -fx-translate-y: 1;
}


/* ====== EFECTO DESACTIVADO ====== */
.jfx-button:disabled, .jfx-button-raised:disabled {
    -fx-opacity: 0.6;
    -fx-cursor: default;
}

/* ====== BOTON TRANSPARENTE ====== */
.jfx-button-transparent {
    -fx-background-color: transparent;
    -fx-text-fill:  #ffffff;
    -fx-font-weight: 600;
    -fx-background-radius: 6;
    -fx-padding: 8 18;
    -fx-cursor: hand;
    -fx-effect: none;
    -fx-transition: all 0.2s ease-in-out;
}

/* Hover: elevaci贸n y fondo suave */
.jfx-button-transparent :hover {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(63,81,181,0.25), 8, 0.3, 0, 2);
}

/* Click: animaci贸n suave tipo ripple */
.jfx-button-transparent :pressed {
    -fx-background-color: rgba(63,81,181,0.2);
    -fx-translate-y: 1;
}

